header{
    width: 100%;
    height: 0.45rem;
    background-color: #3190e8;
    text-align: center;
}
header span{
    font-size: 0.2rem;
    color: #fff;
    
}
header .el-icon-search{
    float: left;
    line-height: 0.45rem;
    margin-left: 0.1rem;
}
header .span2{
    line-height: 0.45rem;
}
header .el-icon-menu{
    float: right;
    line-height: 0.45rem;
    margin-right: 0.1rem;
}
.swiper{
    width: 100%;
    height: 2rem;
    background-color: #fff 
}
.swiper-container {
    width: 100%;
    height: 2rem;
} 
.li1{
    width: 25%;
    height: 50%;
    box-sizing: border-box;
    float: left;
    text-align: center;
}
.img1{
    margin-top: 0.1rem;
    width: 0.5rem;
}
.title{
    margin-top: 0.1rem;
    color: #666666;
    font-size: 0.14rem;
}
.p2{
    margin-top: 0.1rem;
    background-color: #fff;
    width: 100%;
    height: 0.4rem;
    box-sizing: border-box;
    line-height: 0.4rem;
    padding-left: 0.1rem ;
    color: #666666;
}
.span4{
    margin-left: 0.05rem;
}
.lis{
    background-color: #fff;
    width: 100%;
    height: 0.9rem;
    overflow: hidden;
}
.div_img{
    width: 20%;
    height: 100%;
    /* background-color: springgreen; */
    float: left;
    text-align: center;
    margin-top: 0.1rem;
}
.div_img img{
    width: 80%;
}
.content{
    width: 50%;
    height: 100%;   
    /* background-color: tan; */
    float: left;
}
.text{
    width: 30%;
    height: 100%;
    /* background-color: violet; */
    float: left;
}
.conp1{
    margin-top: 0.1rem;
}
.conspan1{
    /* display: block; */
    background-color: #ffd930;
    border-radius: 0.03rem;
    font-size: 0.1rem;
    margin-left:0.05rem ;
}
.conspan2{
    font-size: 0.15rem;
    font-weight: 550;
    margin-left:0.05rem ;
}
.conp2{
    margin-top: 0.1rem;

    overflow: hidden;
    box-sizing: border-box;
}
.conp2 .conspan3{
    display: inline-block;
    /* border: aqua 1px solid; */
    width: 1.4rem;
    margin-left: 0.05rem;
    transform: scale(0.6, 0.6);
    margin-left: -0.25rem;
}
.conspan4{
    margin-left: 0rem;
    font-size: 0.1rem;
}
.conp3{
    margin-top: 0.1rem; 
    font-size: 0.12rem;
}
.conspan5{
    margin-left: 0.05rem;
}
.textp1{
    margin-top: 0.1rem;
    text-align: right;
    margin-right: 0.1rem;
    font-size: 0.12rem;
}
.textp2{
    margin-top: 0.1rem;
    text-align: right;
    margin-right: 0.1rem;
    overflow: hidden;
}
.textspan1{
    display: block;
    width: 0.4rem;
    font-size: 0.1rem;
    background-color: #3190e8;
    color: #fff;
    float: right;
}
.textspan2{
    display: block;
    width: 0.3rem;
    font-size: 0.1rem;
    border: #3190e8 1px solid;
    text-align: center;
    float: right;
}
.textp3{
    margin-top: 0.1rem;
    text-align: right;
    margin-right: 0.1rem;
    font-size: 0.12rem;
}
.textspan5{
    color: #3190e8;
}

